/*
Theme Name:HC Desenvolvimentos
Theme URI: https://www.desenvolvimentos.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: desenvolvimentos
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Desenvolvimentos v1)
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

trs+tab= transition

font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
}

/*DECLARAÇÃO DE VARIÁVEIS*/
  :root{
    --raleway: 'Raleway', sans-serif;
    --robotocondensed: 'Roboto Condensed', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --nunitosans:'Nunito Sans', sans-serif;
}

/* IMPORTAÇÃO DE FONTES*/
  @font-face {
    font-family: Myriad;
    src: url('fontes/myriad.otf');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: Quadon Bold;
    src: url('fontes/quadonbold.otf');
    font-style: normal;
    font-weight: normal;
  }

/* BODY */
    body{
      overflow-x: hidden;
    }

/* TOPO */
    .topo{
      position: absolute;
      top:0;
      width: 100%;
      z-index: 99;
      padding: 25px 0 0;
    }
      .topo a{

      }
        .topo a img{

        }
      .topo .navbar{
        margin: 0;
      }
        .topo .navbar .navbar{
            
        }
        .topo .navbar button{

        }
          .topo .navbar button span{

          }
            .topo .navbar button span{

            }
            .topo .navbar button span.sr-only{

            }
            .topo .navbar button span.icon-bar{

            }
        .topo .navbar .navbar-header{
              display: block;
              width: 100%;
              float: initial;
        }
          .topo .navbar .navbar-header nav{

          }
            .topo .navbar .navbar-header nav ul.navbar-nav{
              display: block;
              width: 100%;
              float: initial;
              text-align: right;
            }
              .topo .navbar .navbar-header nav ul.navbar-nav li{
                float: inherit;
                display: inline-block;
                border-bottom: 1px solid transparent;
                margin: 0 10px;
                transition:All .1s ease;
                -webkit-transition:All .1s ease;
                -moz-transition:All .1s ease;
                -o-transition:All .1s ease;
              } 
              .topo .navbar .navbar-header nav ul.navbar-nav li:hover{
               transition:All .1s ease;
               -webkit-transition:All .1s ease;
               -moz-transition:All .1s ease;
               -o-transition:All .1s ease;
                 border-color:#2178a3;
              }   
                .topo .navbar .navbar-header nav ul.navbar-nav li a{
                 padding: 0 10px;
                 color: #2178a3;
                 font-size: 16px;
                 text-transform: uppercase;
                 font-weight: 500;
                 font-family: var(--montserrat);
                }
                .topo .navbar .navbar-header nav ul.navbar-nav li a:hover{
                  background: transparent;
                 
                }
                .topo .navbar .navbar-header nav ul.navbar-nav li a:active{
                  background: transparent;
                }
                .topo .navbar .navbar-header nav ul.navbar-nav li a:focus{
                  background: transparent;
                }

/* RODAPÉ */
    .rodape{
      background: #2178a3;
      color: #fff;
      padding: 0 90px;
    }
      .rodape .contactFooter{
        padding-top: 60px;
        padding-bottom: 50px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.56);
        text-align: center;
      }
        .rodape .contactFooter .contact{
        }
        .rodape .contactFooter .contact.email{
        }
        .rodape .contactFooter .contact.address{
        }
        .rodape .contactFooter .contact.phone{
        }

          .rodape .contactFooter .contact span{
            display: inline-block;
            width: 100%;
            max-width: 100px;
            height: 100px;
            background: #fff;
            border-radius: 100%;
            text-align: center;
            color: #2178a3;
            position: relative;
          }
            .rodape .contactFooter .contact span i{
              font-size: 45px;
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%,-50%);
              -ms-transform: translate(-50%,-50%);
              -o-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
            }
            .rodape .contactFooter .contact.phone span i{
              transform: translate(-50%, -50%) rotate(90deg);
              -webkit-transform: translate(-50%, -50%) rotate(90deg);
              -moz-transform: translate(-50%, -50%) rotate(90deg);
              -o-transform: translate(-50%, -50%) rotate(90deg);
            }
          .rodape .contactFooter .contact .text{
            display: inline-block;
            vertical-align: top;
            margin-top: 8px;
            font-family: var(--nunitosans);
            padding-left: 25px;
            text-align: left;
          }
            .rodape .contactFooter .contact .text p{
              font-size: 24px;
              margin-bottom: 5px;
            }
            .rodape .contactFooter .contact .text small{
              font-size: 14px;
            }
            .rodape .contactFooter .contact .text a{
              color: #fff;
              text-decoration: none;
              display: block;
              width: 100%;
              max-width: 172px;
              font-size: 13px;
            }
            .rodape .contactFooter .contact.email .text a{
             max-width: 100%;
             line-height: 15px;
             font-size: 13px;
            }
      .rodape .rodapeInformation{
        font-family: var(--montserrat);
      }
        .rodape .rodapeInformation .whoweare{

        }
          .rodape .rodapeInformation .whoweare h3{
            font-size: 36px;
            font-weight: 600;
            font-family: var(--montserrat);
          }
          .rodape .rodapeInformation .whoweare .textFooter{
          }
            .rodape .rodapeInformation .whoweare .textFooter p{
              font-size: 16px;
              font-weight: 400;
              text-indent: 1em;
              text-align: left;
              font-family: var(--nunitosans);
            }
        .rodape .rodapeInformation .instagram{
          text-align: center;
          padding: 0 20px;
        }
          .rodape .rodapeInformation .instagram h3{
            position: relative;
            text-align: center;
            font-family: var(--nunitosans);
            text-transform: uppercase;
            font-size: 23px;
          } 
            .rodape .rodapeInformation .instagram h3:before{
              content: '';
              display: block;
              width: 28%;
              height: 1px;
              background: #fff;
              position: absolute;
              left: 0;
              top: 50%;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              transform: translateY(-50%);
            }
            .rodape .rodapeInformation .instagram h3:after{
              content: '';
              display: block;
              width: 28%;
              height: 1px;
              background: #fff;
              position: absolute;
              right: 0;
              top: 50%;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              transform: translateY(-50%);
            }
          .rodape .rodapeInformation .instagram img{
            width: 100%;
            height:auto;
            max-width: 300px;
            margin-top: 10px;
          }
        .rodape .rodapeInformation .facebook{
          text-align: center;
          margin-top: 64px;
          width: 100%;
          padding: 0 10px;
        }
          .rodape .rodapeInformation .facebook .fb-page{
            width: 100%;
            height: auto;
          }
      .rodape .socialNetworks{
        padding: 50px 0;
      }
        .rodape .socialNetworks ul{
         margin: 0;
         list-style: none;
         padding: 0;
         font-size: 0;
         text-align: center;
         border-bottom: 1px solid rgba(255, 255, 255, 0.65);
         padding-bottom: 20px;
        }
          .rodape .socialNetworks ul li{
           display: inline-block;
           width: 100%;
           max-width: 200px;
           text-align: center;
           padding: 10px 0;
         }
            .rodape .socialNetworks ul li a{
              font-size: 13px;
              color: #fff;
              text-decoration: none;
              font-family: var(--raleway);
              text-transform: uppercase;
              font-weight: 600;
            }
              .rodape .socialNetworks ul li a span{
                display: inline-block;
                width: 38px;
                height: 38px;
                border: 1px solid #fff;
                border-radius: 100%;
                padding: 10px 0 9px 0;
                margin-right: 15px;
              }
              .rodape .socialNetworks ul li a span i{
                font-size: 16px;
                font-weight: 100;
              }
      .rodape .copyright{
        width: 100%;
        padding:0 10px;
        text-align: center;
        padding-bottom: 30px;
      }
        .rodape .copyright p{
          margin: 0;
          font-family: var(--montserrat);
          font-size: 18px;
          font-weight: 600;
        }

/* PG */
  .pg{

  }
  .pg section >h6{
    width: 90%;
    color: #15093a;
    font-weight: bold;
    font-size: 50px;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative;
    font-family: var(--montserrat);
  }
  .pg section >h6:before{
    content: "";
    display:block;
    height: 5px;
    width: 5%;
    position: absolute;
    left:0;
    top:-10px;
    background: #2178a3;
  }

/* HOME */ 
  .pg-home{

  }
    .pg-home .sectionFeaturedCarousel{
      width: 100%;
      height: auto;
      min-height: 70vh;
      background: linear-gradient(to bottom, rgba(165, 200, 218, 0.13) 0%, rgba(158, 196, 215, 0.39) 25%, rgba(157, 196, 215, 0.88) 50%, rgb(157, 195, 214) 100%);
      position: relative;
    }
    .pg-home .sectionFeaturedCarousel:after{
      content: "";
      width: 100%;
      display: block;
      background: url(../img/afterInitial.png);
      background-size: cover!important;
      min-height: 160px;
      position: absolute;
      bottom: -159px;
      background-position: center!important;
    }
       .pg-home .sectionFeaturedCarousel .featuredCarouselContainer{
        width: 90%;
        margin: 0 auto;
       }
        .pg-home .sectionFeaturedCarousel .featuredCarousel .item{
          position: relative;
        }
          .pg-home .sectionFeaturedCarousel .featuredCarousel .item .imgFloat{
            padding-top: 110px;
          }
            .pg-home .sectionFeaturedCarousel .featuredCarousel .item .imgFloat img{
              width: 100%;
              height: auto;
              padding: 0 20px;
            }
            .pg-home .sectionFeaturedCarousel:hover img{
              webkit-animation: pulse 1s ease;
              animation: pulse 1s ease;
              -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1;
            }
          .pg-home .sectionFeaturedCarousel .featuredCarousel .item .titleText{
            width: 100%;
            max-width: 700px;
            padding-top: 180px;
            margin: 0 auto;
            padding-bottom: 10px;
          }
            .pg-home .sectionFeaturedCarousel .featuredCarousel .item .titleText h2{
             font-family: var(--nunitosans);
             font-weight: 800;
             color: #15093a;
             margin: 0;
             font-size: 81px;
            }
            .pg-home .sectionFeaturedCarousel .featuredCarousel .item .titleText p{
              font-family: var(--nunitosans);
              color: #000;
              font-size: 21px;
            }
            .pg-home .sectionFeaturedCarousel .featuredCarousel .item .titleText a{
              display: block;
              width: 100%;
              max-width: 200px;
              text-align: center;
              font-family: var(--nunitosans);
              color: #fff;
              font-size: 23px;
              text-decoration: none;
              background: #2178a3;
              padding: 18px 5px;
              border-radius: 5px;
              box-shadow: 2px 2px 14px 1px #0000005c;
              font-weight: 100;
              margin-top: 25px;
              transition:All .1s ease;
              -webkit-transition:All .1s ease;
              -moz-transition:All .1s ease;
              -o-transition:All .1s ease;

            }
            .pg-home .sectionFeaturedCarousel .featuredCarousel .item .titleText a:hover{
              background: #15093a;
              transition:All .1s ease;
              -webkit-transition:All .1s ease;
              -moz-transition:All .1s ease;
              -o-transition:All .1s ease;
            }
    .pg-home .sectionCounter{
      width: 90%;
      text-align: center;
      margin: 0 auto;
      padding-bottom: 40px;
      border-bottom: 2px solid #a6a6a7;
      margin-top: 130px;
    }
      .pg-home .sectionCounter h4{
       
      }
      .pg-home .sectionCounter ul{
       margin: 0;
       padding: 0;
       font-size: 0;
       padding-top: 70px;
      }
        .pg-home .sectionCounter ul li{
          display: inline-block;
          width: 25%;
        }
          .pg-home .sectionCounter ul li span{
            font-size: 70px;
            color: #2178a3;
            font-family: Quadon Bold;
            position: relative;
          }
          .pg-home .sectionCounter ul li span.xicCafe{

          }
          .pg-home .sectionCounter ul li span.xicCafe:before{
            content: "+";
            font-size: 62px;
            font-family: Quadon Bold;
            position: absolute;
            left: -39px;
            top: 0;
          }
          .pg-home .sectionCounter ul li span.aumentoBase:after{
            content: "%";
            font-size: 62px;
            font-family: Quadon Bold;
            position: absolute;
            top: 0;
            right: -61px;
          }
          .pg-home .sectionCounter ul li span.sitesFeitos{

          }
          .pg-home .sectionCounter ul li span.sitesFeitos:before{
            content: "";
          }
          .pg-home .sectionCounter ul li h6{
            font-size: 18px;
            text-transform: lowercase;
            margin: 0;
            line-height: 1px;
          }
    .pg-home .sectionServices{
      width: 90%;
      margin: 0 auto;
        padding: 140px 0 0;

    }
      .pg-home .sectionServices ul{
        list-style: none;
        font-size: 0;
        margin: 0;
        padding: 0;
      }
        .pg-home .sectionServices ul li {
          width: 31%;
          display: inline-block;
          text-align: center;
          vertical-align: top;
          padding: 0 30px;
          font-family: var(--nunitosans);
          margin-top: 60px;
          margin: 20px 14px 0;
          cursor: pointer;
        }
        .pg-home .sectionServices ul li:hover{
         box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.21);
        }
           .pg-home .sectionServices ul li img{
            width: 100%;
            height: auto;
            max-width: 200px;
           }
          .pg-home .sectionServices ul li:hover img{
            webkit-animation: swing 1s ease;
            animation: swing 1s ease;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
           }
           .pg-home .sectionServices ul li h2{
             color: #15093a;
             font-weight: bold;
             font-size: 36px;
             text-align: left;
             line-height: 35px;
             min-height: 83px;
             font-family: var(--montserrat);
           }
           .pg-home .sectionServices ul li p{
            font-size: 20px;
            text-align: left;
             font-family: var(--nunitosans);
           }
    .pg-home .sectionDepositions{
      padding: 0 50px;
    }
      .pg-home .sectionDepositions .carrossleOfTestimonials{
        padding-top: 50px;
      }
        .pg-home .sectionDepositions .carrossleOfTestimonials .owl-stage-outer{
          overflow: inherit!important;
        }
        .pg-home .sectionDepositions .carrossleOfTestimonials .item{

        }
          .pg-home .sectionDepositions .carrossleOfTestimonials .item figure{
            display: block;
            width: 100%;
            max-width: 250px;
            background: #000;
            min-height: 190px;
            border-radius: 84px;
            text-align: center;
            margin-bottom: 100px;
            position: relative;
          }
          .pg-home .sectionDepositions .carrossleOfTestimonials .item span.trianguloDePontaCabeca{
            /*border-top: 60px solid black;*/
            border-left: 10px solid transparent;
            border-bottom: 50px solid transparent;
            border-right: 10px solid transparent;
            position: absolute;
            left: 49%;
            transform: translateX(-50%);
            top: 189px;
          }
            .pg-home .sectionDepositions .carrossleOfTestimonials .item figure img{
              width: 100%;
              max-width: 129px;
              padding-top: 58px;
              margin: 0 auto;
            }
          .pg-home .sectionDepositions .carrossleOfTestimonials .item hr{
            
            width: 100%;
          }
          .pg-home .sectionDepositions .carrossleOfTestimonials .item .circleHr{
            display: block;
            width: 40px;
            height: 40px;
            position: absolute;
            left: 49%;
            top: -66px;
            transform: translateX(-50%);
            border-radius: 100%;
          }
          .pg-home .sectionDepositions .carrossleOfTestimonials .item .textDepositions{
           width: 100%;
           max-width: 250px;
           position: relative;
           padding: 0 10px;
         }
          .pg-home .sectionDepositions .carrossleOfTestimonials .item .textDepositions:before{
            display: block;
            width: 40px;
            height: 40px;
            background: #000;
            position: absolute;
            left: 50%;
            top: -44%;
            transform: translateX(-50%);
            border-radius: 100%;
          }
          .pg-home .sectionDepositions .carrossleOfTestimonials .item .textDepositions h2{
            font-family: var(--nunitosans);
            /*color: #000;*/
            text-transform: uppercase;
            font-weight: bold;
            font-size: 21px;
            /*border-bottom: 4px solid #000;*/
            text-align: left;
            padding-bottom: 7px;
            margin-top: 40px;
          }
          .pg-home .sectionDepositions .carrossleOfTestimonials .item .textDepositions p{
           font-family: var(--nunitosans);
           font-weight: 600;
           font-size: 15px;
          }
        .pg-home .sectionDepositions .carrossleOfTestimonials .item.modelOne{
          padding-top: 260px;
        }
        .pg-home .sectionDepositions .carrossleOfTestimonials .item.modelTwo{

        }
          .pg-home .sectionDepositions .carrossleOfTestimonials .item.modelTwo figure{
          }
            .pg-home .sectionDepositions .carrossleOfTestimonials .item.modelTwo figure img{

            }
          .pg-home .sectionDepositions .carrossleOfTestimonials .item.modelTwo span.trianguloDePontaCabeca{
            bottom: 0;
          }
          .pg-home .sectionDepositions .carrossleOfTestimonials .item.modelTwo span.dotted{
            display: block;
            width: 20px;
            margin: 74px auto 25px;
            height: 235px;
            background: transparent;
          }
          .pg-home .sectionDepositions .carrossleOfTestimonials .item.modelTwo hr{
          }
          .pg-home .sectionDepositions .carrossleOfTestimonials .item.modelTwo .textDepositions{

          }
            .pg-home .sectionDepositions .carrossleOfTestimonials .item.modelTwo .textDepositions h2{

            }
            .pg-home .sectionDepositions .carrossleOfTestimonials .item.modelTwo .textDepositions p{

            }

    .pg-home .sectionCarouselOfProjects{
      
    }
      .pg-home .sectionCarouselOfProjects .carouselOfProjects{
       position: relative;
       
      }
        .pg-home .sectionCarouselOfProjects .carouselOfProjects .item{
          background-size: cover!important;
          background-position: center!important;
          min-height: 680px;
          padding-top:150px;
        }
          .pg-home .sectionCarouselOfProjects .carouselOfProjects .item .textProjects{

          }
            .pg-home .sectionCarouselOfProjects .carouselOfProjects .item .textProjects h3{
              font-family: var(--robotocondensed);
              font-size: 47px;
              width: 100%;
              color:#fff;
              margin:0;
              text-transform: uppercase;
            }
            .pg-home .sectionCarouselOfProjects .carouselOfProjects .item .textProjects h4{
              font-family: var(--robotocondensed);
              font-size: 35px;
              width: 100%;
              margin-top: 30px;
              color: #fff;
              margin-bottom: 0;
              text-transform: uppercase;
            }
            .pg-home .sectionCarouselOfProjects .carouselOfProjects .item .textProjects p{
              font-family: var(--nunitosans);
              font-size: 17px;
              margin: 30px 0 30px 0;
              color:#fff;
              line-height: 30px;
            }
            .pg-home .sectionCarouselOfProjects .carouselOfProjects .item .linkProjeto{
             
            }
              .pg-home .sectionCarouselOfProjects .carouselOfProjects .item .linkProjeto a{
                color: #fff;
                border: solid 2px;
                padding: 15px 40px;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 15px;
                text-decoration: none;
                 font-family: var(--nunitosans);
              }
          .pg-home .sectionCarouselOfProjects .carouselOfProjects .item figure{

          }
            .pg-home .sectionCarouselOfProjects .carouselOfProjects .item figure img{
              width: 100%;
              height: auto;
              display: block;
              margin: 30px auto 0;
              padding: 16px;
            }
        .pg-home .sectionCarouselOfProjects .carouselOfProjects .owl-controls{
          text-align: center;
          position: absolute;
          bottom: 14px;
          left: 50%;
          transform: translateX(-50%);
        }
          .pg-home .sectionCarouselOfProjects .carouselOfProjects .owl-controls .owl-dots{

          }
            .pg-home .sectionCarouselOfProjects .carouselOfProjects .owl-controls .owl-dots .owl-dot{
              width: 20px;
              height: 20px;
              background: #ffffff;
              border-radius: 100%;
              display: inline-block;
              margin: 0 5px;
              border: 4px solid #d9d9d9;
            }
            .pg-home .sectionCarouselOfProjects .carouselOfProjects .owl-controls .owl-dots .owl-dot.active{
              background: #d9d9d9;
              border: 4px solid #fff;
            }
             
    .pg-home .clienteshc{
      background: #212424;
      min-height: 450px;
      padding-top: 110px;
    }  
      .pg-home .clienteshc ul{
        text-align: center;;
        padding: 0;
        margin:0;
      }  
        .pg-home .clienteshc ul li{
          width: 100%;
          display: inline-block;
          vertical-align: top;
          max-width: 160px;
          margin: 0 45px;
          margin-bottom: 70px;
        }  
          .pg-home .clienteshc ul li figure{

          }  
            .pg-home .clienteshc ul li figure a{

            }  
              .pg-home .clienteshc ul li figure a img{
                display: block;
                width: 100%;
                height: auto;
              }       
    .pg-home .areaBlog{
      
    }
     .pg-home .areaBlog h6{
       margin-top: 150px;
     }
      .pg-home .areaBlog .carrosselBlog{
        
      }
        .pg-home .areaBlog .carrosselBlog .item{
          padding: 10px;
        }
          .pg-home .areaBlog .carrosselBlog .item a{
            text-decoration: none;
          } 
          .pg-home .areaBlog .carrosselBlog .item .post{
            max-width: 450px;
       
            position: relative;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.21);
              transition:All .1s ease;
              -webkit-transition:All .1s ease;
              -moz-transition:All .1s ease;
              -o-transition:All .1s ease;
          } 
          .pg-home .areaBlog .carrosselBlog .item .post:hover{
             box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.21);
               transition:All .1s ease;
              -webkit-transition:All .1s ease;
              -moz-transition:All .1s ease;
              -o-transition:All .1s ease;
          }
            .pg-home .areaBlog .carrosselBlog .item .post span{
              position: absolute;
              background: #2178a3;
              border-bottom: solid 2px #fff;
              padding: 10px 20px;
              color: #fff;
              left: 5px;
              top: 5px;
              font-family: var(--montserrat);
            } 
            .pg-home .areaBlog .carrosselBlog .item .post  figure{
              display: block;
              width: 100%;
              height: 300px;
              background-size: cover!important;
              background-position: center!important;
            } 
            .pg-home .areaBlog .carrosselBlog .item .post  figure img{
              display: none;
            }
            .pg-home .areaBlog .carrosselBlog .item .post  .textoBlog{
              padding: 20px 20px;
              position: relative;
            } 
            .pg-home .areaBlog .carrosselBlog .item .post  .textoBlog small{
              display: block;
              width: 100%;
              height: 0;
              position: absolute;
              top: 0;
              left:0;
              transition:All .1s ease;
              -webkit-transition:All .1s ease;
              -moz-transition:All .1s ease;
              -o-transition:All .1s ease;
            }
             .pg-home .areaBlog .carrosselBlog .item .post:hover  small{
                height: 100%;
                transition:All .1s ease;
                -webkit-transition:All .1s ease;
                -moz-transition:All .1s ease;
                -o-transition:All .1s ease;
             }

             
              .pg-home .areaBlog .carrosselBlog .item .post  h2{
                color: #2178a3;
                font-size: 1.8em;
                font-weight: 600;
                line-height: 1.1em;
                letter-spacing: -.02em;
                position: relative;
                transition:All .1s ease;
                -webkit-transition:All .1s ease;
                -moz-transition:All .1s ease;
                -o-transition:All .1s ease;
                font-family: var(--robotocondensed);
              } 
               .pg-home .areaBlog .carrosselBlog .item .post:hover  h2{
                color:#fff;
                transition:All .5s ease;
                -webkit-transition:All .5s ease;
                -moz-transition:All .5s ease;
                -o-transition:All .5s ease;
               }
              .pg-home .areaBlog .carrosselBlog .item .post  p{
                color: #101619;
                font-weight: 400;
                position: relative;
                font-size:16px;
               font-family: var(--nunitosans);
                transition:All .1s ease;
                -webkit-transition:All .1s ease;
                -moz-transition:All .1s ease;
                -o-transition:All .1s ease;
              } 
              .pg-home .areaBlog .carrosselBlog .item .post:hover  p{
                color:#fff;
                transition:All .1s ease;
                -webkit-transition:All .1s ease;
                -moz-transition:All .1s ease;
                -o-transition:All .1s ease;
              }
      .pg-home .areaBlog .buttonsCarrossel{
        text-align: right;
        padding: 0 10px;
        margin-bottom: 70px;
      }
        .pg-home .areaBlog .buttonsCarrossel button{
          background: #2178a3;
          color: #fff;
          padding: 5px 40px;
          border: none;
          font-size: 22px;
          margin: 15px 0;
          outline:none;
        }
        .pg-home .areaBlog .buttonsCarrossel button:hover{
          background: #15093a;
        }
      .pg-home .sectionProgressProject .progressStep{
        padding-top: 100px;
        position: relative;
        background: url(../img/fundoetapas.png);
        background-size: cover!important;
      }
      .pg-home .sectionProgressProject .progressStep:before{
        content: '';
        display: block;
        width: 13px;
        height: 1200px;
        background: #2178a3;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
      }
        .pg-home .sectionProgressProject .progressStep .text{
          width: 100%;
          text-align: left;
          padding: 0 80px;
        }
          .pg-home .sectionProgressProject .progressStep .text h3{
           font-family: var(--nunitosans);
           font-weight: bold;
           color: #454545;
           font-size: 44px;
           margin-top: 60px;
           text-align: right;
          }
          .pg-home .sectionProgressProject .progressStep .text p{
            font-family: var(--montserrat);
            font-size: 17px;
            margin-bottom: 60px;
            text-align: right;
          }
          .pg-home .sectionProgressProject .progressStep figure{
            width: 100%;
            max-width: 200px;
            margin: 0 auto;
            text-align: center;
            min-height: 200px;
            border: 5px dashed #2178a3;
            border-radius: 100%;
          }
          .pg-home .sectionProgressProject .progressStep figure .borderImage{
            width: 100px;
            height: 12px;
            display: block;
            background: #2178a3;
            position: absolute;
            right: 29px;
            top: 50%;
            transform: translateY(-50%);
          }
          .pg-home .sectionProgressProject .progressStep figure.right .borderImage{
            left: 29px;
          }
          .pg-home .sectionProgressProject .progressStep figure:before{
            content: "";
            width: 60px;
            height: 60px;
            border-radius: 100%;
            background: #fff;
            border: 6px solid #2178a3;
            display: block;
            position: absolute;
            right: -29px;
            top: 50%;
            transform: translateY(-50%);
          }
          .pg-home .sectionProgressProject .progressStep figure.right:before{
            left: -29px;
          }
          .pg-home .sectionProgressProject .progressStep figure:after{
            content: "";
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background: #15093a;
            display: block;
            position: absolute;
            right : -14px;
            top: 50%;
            transform: translateY(-50%);
          }
          .pg-home .sectionProgressProject .progressStep figure.right:after{
            left: -14px;
          }
            .pg-home .sectionProgressProject .progressStep figure img{
              width: 100%;
              height: auto;
              max-width: 100px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              -webkit-transform: translate(-50%,-50%);
              -moz-transform: translate(-50%,-50%);
              -o-transform: translate(-50%,-50%);
            }
    .pg-home .sectionbudgetsForm{
      margin-top: 270px;
      position: relative;
      padding-top: 70px;
      background-color: #2178a3;
      padding-bottom: 20px;
      box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.35);
      /* margin-bottom: 200px; */
      position: relative;
      z-index: 2;
      padding-bottom: 50px;
    }
    .pg-home .sectionbudgetsForm:before{ 
      content: '';
      width: 100%;
      display: block;
      min-height: 220px;
      background: url(../img/fundolocasso.png);
      background-size: contain;
      background-position: center!important;
      position: absolute;
      top: -180px;
    }
      .pg-home .sectionbudgetsForm .titleBudgetsForm{

      }
        .pg-home .sectionbudgetsForm .titleBudgetsForm h5{
          color: #fff;
          text-transform: uppercase;
          font-family: var(--robotocondensed);
          font-weight: bold;
          font-size: 30px;
        }
        .pg-home .sectionbudgetsForm .titleBudgetsForm p{
          font-family: var(--nunitosans);
          color: #fff;
          font-size: 20px;
          font-weight: 400;
        }
      .pg-home .sectionbudgetsForm .budgetbutton{
        text-align: right;
      }
      .pg-home .sectionbudgetsForm .budgetbutton:after{
        content: "";
      }
        .pg-home .sectionbudgetsForm .budgetbutton button{
          border: 1px solid #fff;
          border-radius: 70px;
          background: transparent;
          color: #fff;
          font-family: var(--nunitosans);
          padding: 4px 118px 4px 40px;
          font-size: 32px;
          outline: none;
          text-align: center;
        }
        .pg-home .sectionbudgetsForm .budgetbutton button:after{
          content: "";
          display: block;
          width: 39px;
          height: 39px;
          background: url(../img/send.svg);
          background-size: cover!important;
          background-position: center;
          position: absolute;
          right: 44px;
          top: 8px;
        }
        .pg-home .sectionbudgetsForm .budgetbutton button:before{
          content: "";
          display: block;
          width: 70px;
          height: 70px;
          position: absolute;
          right: 27px;
          top: -7px;
          border: 3px solid #fff;
          border-radius: 100%;
          background: #2178a3;
        }
        .pg-home .sectionbudgetsForm .border-bottom{
          margin: 40px 0 50px 0;
          background: rgba(255, 255, 255, 0.62);
          width: 100%;
          height: 1px;
          display: none;
        }
    .pg-home .projectsPortfolio{

    }
      .pg-home .projectsPortfolio h4{

      }
      .pg-home .projectsPortfolio p{

      }
      .pg-home .projectsPortfolio ul.projectsList{

      }
        .pg-home .projectsPortfolio ul.projectsList li{

        }
          .pg-home .projectsPortfolio ul.projectsList li a{

          }
            .pg-home .projectsPortfolio ul.projectsList li a article{

            }
              .pg-home .projectsPortfolio ul.projectsList li a article figure.imagemDestaque{

              }
                .pg-home .projectsPortfolio ul.projectsList li a article figure.imagemDestaque img{

                }
              .pg-home .projectsPortfolio ul.projectsList li a article .informacoesProjetos{

              }
                .pg-home .projectsPortfolio ul.projectsList li a article .informacoesProjetos h3{

                }
    .pg-home .sectionContactForm{
      text-align: center;
      background: url(../img/fundocontato.png);
      position: relative;
      min-height: 500px;
    }
    .pg-home .sectionContactForm:before{
      content: "";
      background-color: #15093a;
      width: 100%;
      height: 100%;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      opacity: 0.8;
    }
    .pg-home .sectionContactForm .conteudoContato{
      position: relative;
      z-index: 2;
      color: #fff;
      text-align: center;
      font-family: var(--nunitosans);
    }
      .pg-home .sectionContactForm h4{
       margin: 0;
       padding-top: 30px;
       font-size: 86px;
       font-weight: 600;
      }
      .pg-home .sectionContactForm .socialNetworks{

      }
        .pg-home .sectionContactForm .socialNetworks p{
          font-size: 26px;
          font-weight: 600;
        }
        .pg-home .sectionContactForm .socialNetworks p:after{
          content: "";
          display: block;
          width: 100%;
          max-width: 250px;
          height: 2px;
          background: #fff;
          margin: 13px auto 0;
        }
        .pg-home .sectionContactForm .socialNetworks ul{
         padding: 0;
         list-style: none;
         text-align: center;
         display: block;
         width: 100%;
         max-width: 300px;
         margin: 30px auto;
        }
          .pg-home .sectionContactForm .socialNetworks ul li{
            display: inline-block;
            padding: 0 6px;
          }
            .pg-home .sectionContactForm .socialNetworks ul li a{
              display: block;
              width: 30px;
              height: 30px;
              text-decoration: none;
              color: #fff;
              font-size: 22px;
            }
              .pg-home .sectionContactForm .socialNetworks ul li a i{
                color: #fff;
              }
      .pg-home .sectionContactForm .contactForm{
        padding:30px 0 70px 0;
        color: #7d7c7c;
      }
        .pg-home .sectionContactForm .contactForm input{
          outline: none;
          border: none;
          background: transparent;
          font-family: var(--robotocondensed);
          font-style: italic;
          font-size: 20px;
        }
        .pg-home .sectionContactForm .contactForm textarea{
          outline: none;
          border: none;
          background: #fff;
          font-family: var(--robotocondensed);
          font-style: italic;
          font-size: 20px;
          display: block;
          width: 91%;
          margin: 0 auto;
          max-width: 91%;
          min-width: 91%;
          min-height: 160px;
          max-height: 200px;
          padding: 14px 10px;
        }
        .pg-home .sectionContactForm .contactForm input[type="text"]{
         background: #fff;
         padding: 14px 11px;
         display: inline-block;
         width: 45%;
         margin: 0 5px;
        }
        .pg-home .sectionContactForm .contactForm input:nth-child(3){
          width: 91%;
          margin: 20px auto;
        }
        .pg-home .sectionContactForm .contactForm input[type="submit"]{
          display: block;
          width: 100%;
          max-width: 400px;
          background: #0c61f8;
          padding: 10px;
          text-transform: uppercase;
          font-style: normal;
          margin: 17px 0 0 auto;
          margin-right: 53px;
          font-size: 25px;
          color: #fff;
        }

/* BLOG */
  .pg-blog{
    
  }
    .pg-blog section.bannerTopo{
     
    } 
      .pg-blog section.bannerTopo figure{
         padding: 120px 0;
         background-size: cover!important;
         background-position: center;
      }
        .pg-blog section.bannerTopo .tituloBlog h2{
          margin: 0;
          font-family: var(--robotocondensed);
          font-weight: bold;
          color: #15093a;
          margin: 0;
          font-size: 73px;
          letter-spacing: -3px;
          text-transform: uppercase;
        }
        .pg-blog section.bannerTopo .tituloBlog strong{
          display:block;
          color:#fff;
        }
        .pg-blog section.bannerTopo .tituloBlog a{
          display: block;
          width: 100%;
          max-width: 200px;
          text-align: center;
          font-family: var(--nunitosans);
          color: #fff;
          font-size: 16px;
          text-decoration: none;
          background: #2178a3;
          padding: 18px 5px;
          border-radius: 5px;
          box-shadow: 2px 2px 14px 1px #0000005c;
          font-weight: 100;
          margin-top: 25px;
          transition: All .1s ease;
          -webkit-transition: All .1s ease;
          -moz-transition: All .1s ease;
          -o-transition: All .1s ease;
        } 
          .pg-blog section.bannerTopo .tituloBlog a:hover{
            background: #15093a;
            transition: All .1s ease;
            -webkit-transition: All .1s ease;
            -moz-transition: All .1s ease;
            -o-transition: All .1s ease;
          }
    .pg-blog nav.menuBlog{
      background: #212424;
    }
      .pg-blog nav.menuBlog ul{
        
        margin:0;
      }
        .pg-blog nav.menuBlog ul li{
          display: inline-block;
        }
          .pg-blog nav.menuBlog ul li a{
            padding: 0 10px;
            color: #2178a3;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 500;
            font-family: var(--montserrat);
            color: #fff;
            padding: 20px 15px;
            display:block;
            position: relative;
            text-decoration: none;
          }
            .pg-blog nav.menuBlog ul li a:before{
              background: #2178a3;
              bottom: 0;
              content: "";
              display: block;
              height: 4px;
              left: 50%;
              position: absolute;
              transform: translateX(-50%);
              transition: all 0.3s ease-in-out;
              width: 0;
            } 
              .pg-blog nav.menuBlog ul li a:hover:before{
                width: 100%;
              }
               .pg-blog nav.menuBlog ul li a:active:before{
                width: 100%;
              }
    .pg-blog .areaPostBlog{
      padding-top: 25px;
    }
      .pg-blog .areaPostBlog .ultimoPost{
       padding: 10px;
      }
        .pg-blog .areaPostBlog .ultimoPost figure{
          max-width: 817px;
          width: 100%;
          max-width: 817px;
          width: 100%;
          background-position: center!important;
          background-size: cover!important;
          position: relative;
          min-height: 400px;
        } 
        .pg-blog .areaPostBlog .ultimoPost figure a{
          text-decoration: none;
          display: block;
          width: 100%;
          height: 100%;
          background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.45) 45%, rgba(0, 0, 0, 0.1) 85%, transparent 100%);
          position: absolute;
        }
          .pg-blog .areaPostBlog .ultimoPost figure img{
            display: none;
          }
          .pg-blog .areaPostBlog .ultimoPost figure .textoBlog{
            padding: 20px 20px;
            position: relative;
            position: absolute;
            bottom: 15px;
            z-index: 2;
            max-width: 600px;
          }
            .pg-blog .areaPostBlog .ultimoPost figure  small{
              position: absolute;
              background: #2178a3;
              border-bottom: solid 2px #fff;
              padding: 10px 20px;
              color: #fff;
              left: 5px;
              top: 5px;
              font-family: var(--montserrat);
              font-size: 12px;
              font-weight: 400;
            }
            .pg-blog .areaPostBlog .ultimoPost figure .textoBlog h2{
              color: #fff;
              font-size: 1.8em;
              font-weight: 600;
              line-height: 1.1em;
              letter-spacing: -.02em;
              position: relative;
              transition: All .1s ease;
              -webkit-transition: All .1s ease;
              -moz-transition: All .1s ease;
              -o-transition: All .1s ease;
              font-family: var(--robotocondensed);
            }
            .pg-blog .areaPostBlog .ultimoPost figure .textoBlog p{
              color: #fff;
              font-weight: 400;
              position: relative;
              font-size: 16px;
              font-family: var(--nunitosans);
              transition: All .1s ease;
              -webkit-transition: All .1s ease;
              -moz-transition: All .1s ease;
              -o-transition: All .1s ease;
            }
        .pg-blog .areaPostBlog .posts ul{
          padding: 0;
          margin: 0;
          list-style: none;
        }
          .pg-blog .areaPostBlog .posts ul li{
            padding: 10px;
            display: inline-block;
            vertical-align: top;
            width: 49%;
            margin-bottom: 40px;
          }
            .pg-blog .areaPostBlog .posts ul li a{
              text-decoration: none;
            }
              .pg-blog .areaPostBlog .posts ul li a .post{
                max-width: 450px;
                position: relative;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.21);
                transition: All .1s ease;
                -webkit-transition: All .1s ease;
                -moz-transition: All .1s ease;
                -o-transition: All .1s ease;
              }
                .pg-blog .areaPostBlog .posts ul li a .post:hover{
                  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.21);
                  transition: All .1s ease;
                  -webkit-transition: All .1s ease;
                  -moz-transition: All .1s ease;
                  -o-transition: All .1s ease;
                }
                .pg-blog .areaPostBlog .posts ul li a .post span{
                  position: absolute;
                  background: #2178a3;
                  border-bottom: solid 2px #fff;
                  padding: 10px 20px;
                  color: #fff;
                  left: 5px;
                  top: 5px;
                  font-family: var(--montserrat);
                  font-size: 12px;
                  font-weight: 400;
                }
                  .pg-blog .areaPostBlog .posts ul li a .post figure{
                    display: block;
                    width: 100%;
                    height: 300px;
                    background-size: cover!important;
                    background-position: center!important;
                  }
                    .pg-blog .areaPostBlog .posts ul li a .post figure img{
                      display: none;
                    }
                  .pg-blog .areaPostBlog .posts ul li a .post .textoBlog{
                    padding: 20px 20px;
                    position: relative;
                  } 
                    .pg-blog .areaPostBlog .posts ul li a .post .textoBlog small{
                      display: block;
                      width: 100%;
                      height: 0;
                      position: absolute;
                      top: 0;
                      left: 0;
                      transition: All .1s ease;
                      -webkit-transition: All .1s ease;
                      -moz-transition: All .1s ease;
                      -o-transition: All .1s ease;
                    }
                      .pg-blog .areaPostBlog .posts ul li a .post:hover .textoBlog small{
                        height: 100%;
                        transition: All .1s ease;
                        -webkit-transition: All .1s ease;
                        -moz-transition: All .1s ease;
                        -o-transition: All .1s ease;
                      }
                      .pg-blog .areaPostBlog .posts ul li a .post .textoBlog  h2{
                        color: #2178a3;
                        font-size: 1.8em;
                        font-weight: 600;
                        line-height: 1.1em;
                        letter-spacing: -.02em;
                        position: relative;
                        transition: All .1s ease;
                        -webkit-transition: All .1s ease;
                        -moz-transition: All .1s ease;
                        -o-transition: All .1s ease;
                        font-family: var(--robotocondensed);
                      }
                      .pg-blog .areaPostBlog .posts ul li a .post:hover h2 {
                        color: #fff;
                        transition: All .5s ease;
                        -webkit-transition: All .5s ease;
                        -moz-transition: All .5s ease;
                        -o-transition: All .5s ease;
                      }
                      .pg-blog .areaPostBlog .posts ul li a .post .textoBlog  p{
                        color: #101619;
                        font-weight: 400;
                        position: relative;
                        font-size: 16px;
                        font-family: var(--nunitosans);
                        transition: All .1s ease;
                        -webkit-transition: All .1s ease;
                        -moz-transition: All .1s ease;
                        -o-transition: All .1s ease;
                      }
                        .pg-blog .areaPostBlog .posts ul li a .post:hover p {
                          color: #fff;
                          transition: All .1s ease;
                          -webkit-transition: All .1s ease;
                          -moz-transition: All .1s ease;
                          -o-transition: All .1s ease;
                        }
        .pg-blog .areaPostBlog aside{
          padding: 10px;
        }
          .pg-blog .areaPostBlog aside .ultimosPosts{
          
          }
            .pg-blog .areaPostBlog aside .ultimosPosts ul{
              padding: 0;
              margin:0;
              list-style: none;
            }
              .pg-blog .areaPostBlog aside .ultimosPosts ul li{
                position: relative;
                margin-bottom: 38px;
              }
                .pg-blog .areaPostBlog aside .ultimosPosts ul li a{
                  text-decoration: none;
                  color: #2178a3;
                }
                  .pg-blog .areaPostBlog aside .ultimosPosts ul li a figure{
                    display: block;
                    width: 100%;
                    height: 145px;
                    background-size: cover!important;
                    background-position:center!important;
                    position: relative;
                  } 
                    .pg-blog .areaPostBlog aside .ultimosPosts ul li a figure img{
                      display: none;
                    }  
                    .pg-blog .areaPostBlog aside .ultimosPosts ul li a p{
                      position: absolute;
                      background: #2178a3;
                      border-bottom: solid 2px #fff;
                      padding: 10px 20px;
                      color: #fff;
                      left: 5px;
                      top: 5px;
                      font-family: var(--montserrat);
                      font-size: 12px;
                      font-weight: 400;
                    }  
                    .pg-blog .areaPostBlog aside .ultimosPosts ul li a h2{
                      color: #2178a3;
                      font-size: 16px;
                      font-weight: 600;
                      letter-spacing: -.02em;
                      position: relative;
                      transition: All .1s ease;
                      -webkit-transition: All .1s ease;
                      -moz-transition: All .1s ease;
                      -o-transition: All .1s ease;
                      font-family: var(--robotocondensed);
                      margin: 0;
                      padding-top: 10px;
                    } 
                    .pg-blog .areaPostBlog aside .ultimosPosts ul li a .data{
                      color: #212424;
                      font-weight: 500;
                      float: right;
                      padding-top: 10px;
                    } 
          .pg-blog .areaPostBlog aside .postsRecentes{
            border-bottom: solid #212424 30px;
            padding-bottom: 0px;
          } 
            .pg-blog .areaPostBlog aside .postsRecentes strong{
              background: #212424;
              color: #fff;
              font-size: 35px;
              padding: 49px 20px 25px;
              display: block;
              text-transform: uppercase;
              font-weight: bold;
              font-family: var(--robotocondensed);
              line-height: 32px;
              position: relative;
            } 
            .pg-blog .areaPostBlog aside .postsRecentes strong:before{
              content: "";
              display: block;
              height: 5px;
              width: 15%;
              position: absolute;
              left: 19px;
              top: 40px;
              background: #2178a3;
            } 
              .pg-blog .areaPostBlog aside .postsRecentes .postRecente{
                position: relative;
                margin-bottom: 20px;
                margin-top: 20px;
              }  
              .pg-blog .areaPostBlog aside .postsRecentes .postRecente:last-child{
                margin-bottom: 0;
              }  
              .pg-blog .areaPostBlog aside .postsRecentes .postRecente a{
                text-decoration: none;
                display: block;
                padding-top: 50px;
                border-bottom: solid #212424 1px;
                padding-bottom: 20px;
              } 
              .pg-blog .areaPostBlog aside .postsRecentes .postRecente:last-child a{
                border:none;
              }  
              .pg-blog .areaPostBlog aside .postsRecentes .postRecente p{
                position: absolute;
                background: #2178a3;
                border-bottom: solid 2px #fff;
                padding: 10px 20px;
                color: #fff;
                left: 0;
                top: 5px;
                font-family: var(--montserrat);
                font-size: 12px;
                font-weight: 400;
              } 
              .pg-blog .areaPostBlog aside .postsRecentes .postRecente h2{
                color: #2178a3;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: -.02em;
                position: relative;
                transition: All .1s ease;
                -webkit-transition: All .1s ease;
                -moz-transition: All .1s ease;
                -o-transition: All .1s ease;
                font-family: var(--robotocondensed);
                margin: 0;
                padding-top: 10px;
              } 
              .pg-blog .areaPostBlog aside .postsRecentes .postRecente .data{
                color: #212424;
                font-weight: 500;
                float: right;
                padding-top: 10px;
              } 
         .pg-blog .areaPostBlog aside .newsllater{
            margin-top: 60px;
            padding-top: 30px;
            background: #212424;
         }
         .pg-blog .areaPostBlog aside .newsllater strong{
            background: #212424;
            color: #fff;
            font-size: 35px;
            padding: 30px 20px 25px;
            display: block;
            text-transform: uppercase;
            font-weight: bold;
            font-family: var(--robotocondensed);
            line-height: 32px;
            position: relative;
          } 
          .pg-blog .areaPostBlog aside .newsllater strong:before{
            content: "";
            display: block;
            height: 5px;
            width: 15%;
            position: absolute;
            left: 19px;
            top: 20px;
            background: #2178a3;
          } 
      .pg-blog .areaPostBlog aside .newsllater .forNewsllater{
        padding: 20px;
        text-align: right;
       
      } 
      .pg-blog .areaPostBlog aside .newsllater p{
        padding:0  20px;
        margin:0;  
        color: #fff;
        font-weight: 400;
        position: relative;
        text-align: left;
        font-size: 16px;
        font-family: var(--nunitosans);
        transition: All .1s ease;
        -webkit-transition: All .1s ease;
        -moz-transition: All .1s ease;
        -o-transition: All .1s ease;    
      } 
        .pg-blog .areaPostBlog aside .newsllater .forNewsllater input{
          display: block;
          width: 100%;
          height: 60px;
          border: solid 1px #fff;
          border-radius: 5px;
          margin-bottom: 20px;
          padding: 10px;
          background: #fff;
          outline: none;
          font-family: var(--nunitosans);
        }  
        .pg-blog .areaPostBlog aside .newsllater .forNewsllater input[type="submit"]{
          background: #2178a3;
          color: #fff;
          font-size: 16px;
          text-transform: uppercase;
          text-align: center;
          font-weight: 600;
          max-width: 150px;
          display: inline-block;
          height: 45px;
          border-color: transparent;
        }   

.containerFull{
  width: 100%;
  max-width: 1200px;
  margin:0 auto;
  padding: 0 10px;
}

/*EXTRAS*/
  ::-webkit-scrollbar{ 
    background: #2178a3;
    width: 5px;

  }
  ::-webkit-scrollbar-button{ 
   background: #2178a3;
  }
  ::-webkit-scrollbar-track{ 
    

  }
  ::-webkit-scrollbar-track-piece {
   }
  ::-webkit-scrollbar-thumb{ 
    background: #15093a;
  }
  ::-webkit-scrollbar-corner       { /* 6 */ }
  ::-webkit-resizer                { /* 7 */ }
/* MEDIA QUERY */
  @media(max-width: 1600px){
    .pg-home .sectionServices ul li {
     padding: 10px 20px;
    }
  }
  @media(max-width: 1367px){
    .pg-blog .containerFull{
      max-width: 95%;
    }
    .pg-home .sectionCounter ul li span.xicCafe:before {
      left: -42px;
      top: -3px;
      font-size: 54px;
    }
    .pg-home .sectionCounter ul li span {
      font-size: 60px;
    }
    .pg-home .sectionFeaturedCarousel .featuredCarousel .item .titleText h2 {
      font-size: 70px;
    }
    .pg-home .sectionFeaturedCarousel {
      min-height: 60vh;
    }
    .pg-home .sectionServices ul li h2 {
      font-size: 26px;
    }
    .pg-home .sectionServices ul li p {
      font-size: 18px;
    }
    .pg-home .sectionDepositions .carrossleOfTestimonials .item.modelTwo span.dotted {
      width: 52px;
      margin: 0px auto 25px;
    }
    .pg-home .sectionProgressProject .progressStep .text p {
      font-size: 16px;
    }
    .pg-home .sectionProgressProject .progressStep .text h3 {
      font-size: 40px;
    }
    .pg-home .sectionContactForm .socialNetworks p {
      font-size: 23px;
    }
    .pg-home .sectionContactForm h4 {
      font-size: 75px;
    }
    .pg-home .sectionContactForm .socialNetworks p:after {
      max-width: 210px;
    }
    .rodape .rodapeInformation .whoweare .textFooter p {
      font-size: 16px;
    }
    .rodape .rodapeInformation .whoweare h3 {
      font-size: 30px;
    }
  }
  @media(max-width: 1200px){
    .pg-home .sectionFeaturedCarousel .featuredCarousel .item .titleText a {
      padding: 13px 5px;
    }
    .pg-home .sectionFeaturedCarousel .featuredCarousel .item .titleText h2 {
      font-size: 60px;
    }
    .pg-home .sectionFeaturedCarousel .featuredCarousel .item .titleText p {
      font-size: 20px;
    }
    .pg-home .sectionFeaturedCarousel .featuredCarousel .item .titleText {
      padding-top: 130px;
    }
    .pg-home .sectionFeaturedCarousel {
      min-height: 50vh;
    }
    .pg-home .sectionCounter {
      margin-top: 150px;
    }
    .pg-home .sectionServices ul li p {
      font-size: 17px;
    }
    .pg-home .sectionServices ul li h2 {
      font-size: 28px;
    }
    .pg-home .sectionServices ul li img {
      max-width: 215px;
    }
    .pg-home .sectionCarouselOfProjects .carouselOfProjects .item .textProjects p {
      font-size: 16px;
    }
    .pg-home .sectionCarouselOfProjects .carouselOfProjects .item .textProjects h3 {
      font-size: 41px;
    }
    .pg-home .sectionCarouselOfProjects .carouselOfProjects .item figure img {
      max-width: 409px;
      margin: 56px auto 0;
    }
    .pg-home .sectionCarouselOfProjects .carouselOfProjects .item .textProjects h3 {
      font-size: 41px;
    }
    .pg-home .sectionProgressProject .progressStep figure {
      max-width: 170px;
      min-height: 170px;
    }
    .pg-home .sectionProgressProject .progressStep figure img {
      max-width: 70px;
    }
    .pg-home .sectionProgressProject .progressStep .text p {
      font-size: 15px;
    }
    .pg-home .sectionProgressProject .progressStep .text h3 {
      font-size: 36px;
    }
    .pg-home .sectionbudgetsForm:before {
      min-height: 160px;
      top: -160px;
    }
    .pg-home .sectionbudgetsForm .titleBudgetsForm h5 {
      font-size: 26px;
    }
    .pg-home .sectionbudgetsForm .budgetbutton button:after {
      width: 34px;
      height: 34px;
    }
    .pg-home .sectionbudgetsForm .budgetbutton button:before {
      width: 65px;
      height: 65px;
    }
    .pg-home .sectionbudgetsForm .budgetbutton button {
      padding: 3px 100px 3px 40px;
      font-size: 28px;
    }
    .rodape .rodapeInformation .whoweare .textFooter p {
      font-size: 13px;
    }
    .containerFull{
      width: 100%;
    }
  }
  @media(max-width: 991px){
    .pg-home .sectionFeaturedCarousel .featuredCarousel .item .titleText h2 {
      font-size: 50px;
    }
    .pg-home .sectionFeaturedCarousel .featuredCarousel .item .imgFloat img {
      padding: 0 5px;
    }
    .pg-home .sectionFeaturedCarousel .featuredCarousel .item .titleText p {
      font-size: 18px;
      margin-top: 15px;
    }
    .pg-home .sectionFeaturedCarousel .featuredCarousel .item .titleText a {
      font-size: 22px;
      padding: 10px 5px;
    }
    .pg-home .sectionCounter ul li span.aumentoBase:after {
      font-size: 42px;
      top: -2px;
      right: -43px;
    }
    .pg-home .sectionCounter ul li span.xicCafe:before {
      left: -33px;
      top: -4px;
      font-size: 45px;
    }
    .pg-home .sectionCounter ul li span {
      font-size: 45px;
    }
    .pg-home .sectionCounter ul li h6 {
      font-size: 16px;
    }
    .pg-home .sectionServices ul li img {
      max-width: 200px;
    }
    .pg-home .sectionServices ul li {
      width: 50%;
    }
    .pg-home .sectionServices ul li h2 {
      font-size: 24px;
    }
    .pg-home .sectionServices ul li p {
      font-size: 15px;
    }
    .pg-home .sectionServices ul li {
      padding: 0 15px;
    }
    .pg-home .sectionCarouselOfProjects .carouselOfProjects .item .textProjects h3 {
      font-size: 32px;
    }
    .pg-home .sectionCarouselOfProjects .carouselOfProjects .item .textProjects p {
      font-size: 14px;
    }
    .pg-home .sectionProgressProject .progressStep .text h3 {
      font-size: 30px;
    }
    .pg-home .sectionProgressProject .progressStep .text p {
      font-size: 13px;
    }
    .pg-home .sectionProgressProject .progressStep figure .borderImage {
      width: 53px;
    }
    .pg-home .sectionProgressProject .progressStep figure img {
      max-width: 45px;
    }
    .pg-home .sectionProgressProject .progressStep figure {
      max-width: 140px;
      min-height: 140px;
    }
    .pg-home .sectionbudgetsForm:before {
      min-height: 134px;
      top: -134px;
    }
    .pg-home .sectionbudgetsForm .budgetbutton {
      text-align: center;
      margin-top: 40px;
    }
    .pg-home .sectionbudgetsForm .budgetbutton button:after {
     width: 25px;
     height: 25px;
     right: 23px;
     top: 6px;
    }
    .pg-home .sectionbudgetsForm .budgetbutton button:before {
      width: 50px;
      height: 50px;
      right: 8px;
      top: -6px;
    }
    .pg-home .sectionbudgetsForm .budgetbutton button {
      padding: 3px 70px 3px 20px;
      font-size: 22px;
      position: relative;
    }
    .pg-home .sectionbudgetsForm .titleBudgetsForm h5 {
      font-size: 24px;
    }
    .pg-home .sectionbudgetsForm .titleBudgetsForm p {
      font-size: 19px;
    }
    .pg-home .sectionbudgetsForm .titleBudgetsForm p {
      font-size: 17px;
    }
    .pg-home .sectionbudgetsForm .titleBudgetsForm h5 {
      font-size: 22px;
    }
    .pg-home .sectionContactForm .socialNetworks p {
      font-size: 20px;
    }
    .pg-home .sectionContactForm h4 {
      font-size: 65px;
    }
    .pg-home .sectionContactForm .socialNetworks p:after {
      max-width: 180px;
    }
    .pg-home .sectionFeaturedCarousel:after {
      min-height: 85px;
      bottom: -83px;
    }
  }
  @media (max-width: 768px){
    .pg-home .sectionFeaturedCarousel .featuredCarousel .item .titleText h2 {
      text-align: center;
      font-size: 40px;
    }
    .pg-home .sectionFeaturedCarousel .featuredCarousel .item .titleText p {
      font-size: 17px;
      text-align: center;
    }
    .pg-home .sectionFeaturedCarousel .featuredCarousel .item .titleText a {
      font-size: 22px;
      margin: 20px auto 0;
    }
    .pg-home .sectionFeaturedCarousel .featuredCarousel .item .imgFloat img {
      padding: 0 20px;
    }
    .pg-home .sectionFeaturedCarousel:after {
      min-height: 61px;
      bottom: -61px;
    }
    .pg-home .sectionServices ul li {
      padding: 0 0px;
      width: 100%;
    }
    .pg-home .sectionServices ul li h2 {
      text-align: center;
    }
    .pg-home .sectionServices ul li p {
      text-align: center;
    }
    .pg-home .sectionCarouselOfProjects .carouselOfProjects .item .textProjects p {
      text-align: center;
    }
    .pg-home .sectionCarouselOfProjects .carouselOfProjects .item .textProjects h3 {
      max-width: 100%;
      text-align: center;
    }
    .pg-home .sectionCarouselOfProjects .carouselOfProjects .item figure img {
      max-width: 409px;
      margin: 30px auto 50px;
    }
    .rodape .contactFooter {
      text-align: left;
    }
    .rodape .contactFooter .contact span {
      max-width: 80px;
      height: 80px;
    }
    .rodape .contactFooter .contact span i {
      font-size: 27px;
    }
    .rodape .contactFooter .contact .text p {
      font-size: 22px;
    }
    .rodape .rodapeInformation .whoweare {
      text-align: center;
    }
    .rodape .rodapeInformation .whoweare .textFooter p {
      text-align: center;
    }
    .pg-home .sectionProgressProject .progressStep{
      background: url("");
    }
    .pg-home .sectionProgressProject .progressStep .text {
      padding: 0 10px;
    }
    .pg-home .sectionProgressProject .progressStep .text h3 {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 21px;
      font-size: 24px;
    }
    .pg-home .sectionProgressProject .progressStep .text p {
      text-align: center;
    }
    .pg-home .sectionProgressProject .progressStep:before {
      width: 6px;
      height: 1010px;
    }
    .pg-home .sectionProgressProject .progressStep figure {
      max-width: 100px;
      min-height: 100px;
    }
    .pg-home .sectionProgressProject .progressStep figure.right:before {
      left: -20px;
    }
    .pg-home .sectionProgressProject .progressStep figure:before {
      content: "";
      width: 40px;
      height: 40px;
      border: 4px solid #2178a3;
      right: -21px;
    }
    .pg-home .sectionProgressProject .progressStep figure img {
      max-width: 30px;
    }
    .pg-home .sectionProgressProject .progressStep figure.right .borderImage {
      left: 19px;
    }
    .pg-home .sectionProgressProject .progressStep figure.right:after {
      left: -10px;
    }
    .pg-home .sectionProgressProject .progressStep figure:after {
      width: 20px;
      height: 20px;
      right: -11px;
    }
    .pg-home .sectionProgressProject .progressStep figure .borderImage {
      height: 6px;
      right: 19px;
      width: 47px;
    }
    .pg-home .sectionbudgetsForm:before {
      min-height: 105px;
      top: -104px;
    }
    .pg-home .sectionContactForm .contactForm input[type="text"] {
      display: block;
      width: 91%;
      margin: 20px auto;
    }
    .pg-home .sectionContactForm .contactForm input[type="submit"]{
      display: block;
      max-width: 91%;
      margin: 20px auto;
    }
  }